body {
    font-family: Verdana, Geneva, Tahoma;
}

header {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color: #4fa1fe;
}

figcaption {
    font-size: small;
}

#logo {
    width: 20%;
}

#title {
    font-size: 300%;
}

#author, #author-name {
    font-size: large;
}

#author, #date {
    color: gray;
}

#author-name {
    color: cyan;
}

#date {
    font-size: small;
}

.highlighted-text {
    background-color: yellow;
}