body {
    font-family: Verdana, Geneva, Tahoma;
    margin: 0;
}

main { 
    padding-left: 10%;
    padding-right: 10%;
}

figcaption {
    font-size: small;
}

th {
    text-align: left;
    background-color: #4fa1fe;
    color: white;
}

ul {
    padding-top: 2%;
    padding-bottom: 2%;
}


#banner {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color: #4fa1fe;
}

#logo {
    width: 20%;
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}

#title {
    font-size: 50px;
    margin-bottom: 0;
}

#author,
#author-name {
    font-size: large;
}

#author,
#date,
.might-interest {
    color: gray;
}

#author-name {
    color: cyan;
}

#date {
    font-size: small;
    margin-top: 0;
}

#figures {
    margin-left: 0;
    margin-right: 0;
}

.highlighted-text {
    background-color: yellow;
}

.highlighted-row {
    background-color: lightblue;
}

#bottomarticle {
    padding-top: 1%;
    padding-bottom: 1%;
}

#suggestions {
    width: 20%;
}

.suggestion {
    color: white;
    padding-top: 5%;
    padding-left: 5%;
}

#suggested-article-1 {
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    height: 200px;
    width: 300px;
}


#suggested-article-2 {
    background-image: url("../img/graph.jpg");
    background-size: cover;
    height: 200px;
    width: 300px;
}